/* About Us */
h1 {
  color: #5c6fc8;
  text-align: center;
  font-size: 75px;
  font-weight: 600;
}

/* About Us Line Divider */
hr {
    border: 1px solid black;
    opacity: 1;
}

/* Yearly Info for 2022 and 2024 */
/* .description {
    padding-right: 80px;
} */

.circular-year {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 70px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #14868a;
    /* navy-ish: #4d5974 ; brick: #a65b63 */
    border: 20px solid white;
    color: white;
    text-align: center;
    font-size: 21px;
    position: relative; /* absolute kept it on the bottom, relative stays mostly center */
    left: 175px;
    top: 8px; /* pushes it down to be perfectly centered with half circle... there has to be a cleaner way */
    z-index: 2;
}

.half-circle {
    width: 115px;
    height: auto;
    position: relative;
    z-index: 1;
}

.icon {
    width: 65px;
    height: auto;
    position: relative;
    right: 150px;
    z-index: 2;
}