/***********
   About Us
************/
h1 {
  color: #5c6fc8;
  text-align: center;
  font-size: 85px;
  font-weight: 600;
}

hr {
    border: 2px solid black;
    opacity: 1;
    margin: 35px 0px 60px; 
}

#intro-paragraph {
    margin-bottom: 60px;
}

/*********************
  2022 and 2024 Info
 *********************/
.circular-year {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    line-height: 90px;
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #14868a;
    border: 50px solid white;
    color: white;
    text-align: center;
    font-size: 30px;
    position: relative; /* absolute kept it on the bottom, relative stays mostly center */
    left: 220px;
    top: 8px; /* pushes it down to be perfectly centered with half circle... there has to be a cleaner way */
    z-index: 2;
}

.half-circle {
    width: 200px;
    height: auto;
    position: relative;
    z-index: 1;
}

.icon {
    width: 100px;
    height: auto;
    position: relative;
    right: 165px;
    z-index: 2;
}

#circular-year-2024 {
    background-color: #a65b63;
}

#group-elements-2024 {
    margin-top: -82.5px;
}

/*************
   2023 Info
 *************/
#group-elements-2023 {
    margin-top: -82.5px;
}

#circular-year-2023 {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    line-height: 90px;
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4d5974;
    border: 50px solid white;
    color: white;
    text-align: center;
    font-size: 30px;
    position: relative; /* absolute kept it on the bottom, relative stays mostly center */
    left: -115px;
    top: 8px; /* pushes it down to be perfectly centered with half circle... there has to be a cleaner way */
    z-index: 2;
}

#half-circle-2023 {
    width: 200px;
    height: auto;
    position: relative;
    right: -138px;
    z-index: 1;
    transform: scaleX(-1);
}

#icon-2023 {
    width: 100px;
    height: auto;
    position: relative;
    left: 415px;
    z-index: 2;
}

/*******************
   Subscribe Form
********************/

#subscribe-form-h2 {
    margin: 60px 0 20px;
}

#mc-embedded-subscribe {
    width: 100%;
    margin: 0;
    padding: 10px;
    font-size: 20px;
    line-height: 23px;
    background: #5b5b5b;
    border: 1px solid #5b5b5b;
    color: #fff;
    float: inline-end;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
  
input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

.form-group-inline {
    display: flex;
    flex-wrap: wrap;
}

.form-group-inline .col {
    flex: 1;
    padding-right: 10px;
}

.form-group-inline .col:last-child {
    padding-right: 0;
}

.form-group {
    margin-bottom: 1rem;
}

#learn-more {
    text-align:center;
    padding-top: 15px;
}