/* About Us */
h1 {
  color: #5c6fc8;
  text-align: center;
  font-size: 85px;
  font-weight: 600;
}

/* About Us Line Divider */
hr {
    border: 2px solid black;
    opacity: 1;
    margin: 35px 0px 60px; 
}

/* Yearly Info for 2022 and 2024 */
.description {
    margin-left: 100px;
    font-size: large;
}

.circular-year {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    line-height: 90px;
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #14868a;
    /* navy-ish: #4d5974 ; brick: #a65b63 */
    border: 50px solid white;
    color: white;
    text-align: center;
    font-size: 30px;
    position: relative; /* absolute kept it on the bottom, relative stays mostly center */
    left: 220px;
    top: 8px; /* pushes it down to be perfectly centered with half circle... there has to be a cleaner way */
    z-index: 2;
}

.half-circle {
    width: 200px;
    height: auto;
    position: relative;
    z-index: 1;
}

.icon {
    width: 100px;
    height: auto;
    position: relative;
    right: 165px;
    z-index: 2;
}

#circular-year-2024 {
    background-color: #a65b63;
}

#group-elements-2024 {
    margin-top: -82.5px;
}

/* @media (max-width: 424px) {
    .circular-year {
        width: 50px;
        font-size: 21px;
        left: 35px;
    }

    .half-circle {
        width: 115px;
    }

    .icon {
        right: 15px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .circular-year {
        width: 50px;
        font-size: 21px;
        left: 110px;
    }

    .half-circle {
        width: 115px;
    }

    .icon {
        right: 81px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .circular-year {
        width: 50px;
        font-size: 21px;
        left: 100px;
    }

    .half-circle {
        width: 115px;
    }

    .icon {
        right: 90px;
    }
} */

/* Yearly Info for 2023*/
#description-2023 {
    margin-right: 100px;
    font-size: large;
}

#group-elements-2023 {
    margin-top: -82.5px;
}

#circular-year-2023 {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    line-height: 90px;
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4d5974;
    /* navy-ish: #4d5974 ; brick: #a65b63 */
    border: 50px solid white;
    color: white;
    text-align: center;
    font-size: 30px;
    position: relative; /* absolute kept it on the bottom, relative stays mostly center */
    left: -115px;
    top: 8px; /* pushes it down to be perfectly centered with half circle... there has to be a cleaner way */
    z-index: 2;
}

#half-circle-2023 {
    width: 200px;
    height: auto;
    position: relative;
    right: -138px;
    z-index: 1;
    transform: scaleX(-1);
}

#icon-2023 {
    width: 100px;
    height: auto;
    position: relative;
    left: 415px;
    z-index: 2;
}

/* Email Sign-Up */


